<div fxLayout="row" class="w-100" fxLayoutGap="1rem" fxLayout.sm="column" fxLayout.xs="column">
    <mat-card fxFlex="50">
        <mat-card-content fxLayout="column" fxLayoutGap="4px" [formGroup]="form">
            <mat-form-field>

                <mat-label>Base Value</mat-label>
                <input matInput placeholder="Base Value" formControlName="baseValue">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Base Unit</mat-label>
                <mat-select formControlName="baseCode">
                    @for (currency of currenyList; track currency) {
                    <mat-option [value]="currency.value">{{currency.label}}</mat-option>
                    }

                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Target Unit</mat-label>
                <mat-select formControlName="targetCode">
                    @for (currency of currenyList; track currency) {
                    <mat-option [value]="currency.value">{{currency.label}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Target Value</mat-label>
                <input matInput type="number" placeholder="target unit value" formControlName="targetValue">
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <mat-card fxFlex="50" class="summery">

        <mat-card-content fxLayout="column" fxLayoutAlign="center center" class="h-100 ">
            <div class=" from bg-primary" fxLayout="row" fxLayoutAlign="center center">
                <div>

                    <span class="mat-headline-1">
                        {{form.get('baseValue')?.value || 0}}

                    </span>
                    <span class="mat-headline-3">
                        {{form.get('baseCode')?.value}}

                    </span>
                </div>

            </div>
            <div style="height: 1px">

                <div class="material-symbols-outlined arrow">
                    arrow_downward
                </div>
            </div>
            <div class="to bg-primary-invert" fxLayout="row" fxLayoutAlign="center center">
                <div>
                    <span class="mat-headline-1">
                        {{form.get('targetValue')?.value || 0}}
                    </span>
                    <span class="mat-headline-3">
                        {{form.get('targetCode')?.value }}
                    </span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="component-logo">
    <span class="material-symbols-outlined">
        monetization_on
    </span>
</div>