.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.f-xl {
  font-size: 1.5rem;
  font-weight: 900;
  margin-left: 0.25rem;
}

.f-light {
  font-weight: 300;
}
