<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>

            <uc-logo></uc-logo>

        </mat-toolbar>
        <mat-nav-list (click)="drawer.mode === 'over' ?  drawer.toggle() : ''">
            <a mat-list-item routerLink="currency" routerLinkActive="active">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
                    <span class="material-symbols-outlined">
                        monetization_on
                    </span>
                    <span class="o-7">Currency</span>
                </div>
            </a>
            <a mat-list-item routerLink="length" routerLinkActive="active">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
                    <span class="material-symbols-outlined">
                        design_services
                    </span>
                    <span class="o-7">Length</span>
                </div>
            </a>


        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            @if (isHandset$ | async) {
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <!-- <mat-icon aria-label="Side nav toggle icon">menu</mat-icon> -->
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>
            <uc-logo></uc-logo>
            }
            <div class="w-100" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.5rem">
                <!-- <mat-slide-toggle class="mode-control" color="primary"></mat-slide-toggle> -->
                <button mat-button (click)="fl.switch()">
                    @if (fl.mode === 'light') {
                    <span class="material-symbols-outlined flex">
                        light_mode
                    </span>
                    } @else {
                    <span class="material-symbols-outlined flex">
                        dark_mode
                    </span>
                    }

                </button>
                <a href="https://github.com/malbarmavi/unit-convert-x" target="_blank" mat-button>
                    <div class="github-icon o-6">

                        <svg height="24" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="24"
                            data-view-component="true"
                            class="octicon octicon-mark-github v-align-middle color-fg-default">
                            <path
                                d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z">
                            </path>
                        </svg>
                    </div>
                </a>
            </div>


        </mat-toolbar>

        <div class="my-1 mx-2 container" fxLayout="column">

            <router-outlet>
            </router-outlet>
            <!-- <img src="/assets/flashlight.webp" alt=""> -->
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<uc-flash-light-effect #fl></uc-flash-light-effect>