<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>
            <!-- <span class="material-symbols-outlined logo p-color">
                change_circle
            </span> -->
            <span>Unit Convert</span>
            <span class="f-xl">X</span>
        </mat-toolbar>
        <mat-nav-list (click)="drawer.mode === 'over' ?  drawer.toggle() : ''">
            <a mat-list-item routerLink="currency" routerLinkActive="active">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
                    <span class="material-symbols-outlined">
                        monetization_on
                    </span>
                    <span>Currency</span>
                </div>
            </a>
            <a mat-list-item routerLink="length" routerLinkActive="active">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
                    <span class="material-symbols-outlined">
                        design_services
                    </span>
                    <span>Length</span>
                </div>
            </a>


        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            @if (isHandset$ | async) {
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <!-- <mat-icon aria-label="Side nav toggle icon">menu</mat-icon> -->
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>
            <span>Unit Convert</span>
            <span class="f-xl">X</span>
            }
        </mat-toolbar>

        <div class="my-1 mx-2 container" fxLayout="column">
            <router-outlet>
            </router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- 
<app-main>

</app-main>

<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
<mat-slide-toggle></mat-slide-toggle>

<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button> -->